
body {
  background-color: color: #d52e3f;
}
table {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  /*font-family: cursive;*/
  font-size: x-large;
  color: #000;
  line-height: 2em;
}

.time-text-cell {
  position: relative;
  min-width: 10em;
  padding-left: 1em;
}

.correct-image {
  position: absolute;
  top: 0%;

  width: 300px;
  height: 212px;
  display: none;
  position: relative; 
  margin:auto;
  padding: 20px;

}

.titill{
      font-size: 7vw;
      text-align: center;
      color: #fcedd8;
      background: #d52e3f;
      font-family: 'Niconne', cursive;
      font-weight: 700;
      text-shadow: 
                  
                  4px 4px 0px #46b59b, 
                  7px 7px 0px #017e7f, 
                  10px 10px 0px #052939;
/*                  16px 16px 0px #c11a2b, 
                  18px 18px 0px #c11a2b, 
                  20px 20px 0px #c11a2b, 
                  22px 22px 0px #c11a2b;*/
}

p{
    text-align: center;
    font-family: "Helvetica";
    font-size:0.8rem;
}

a{
    color: #d52e3f;
    text-decoration: none;
    font-family: 'Niconne', cursive;
    font-size: 1.2rem;

}


span.digits {
  margin: calc(50vh - 40px) auto 0 auto;
  font-size: 65px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
}

.logo-1 {
  color: white;
  animation: neon 3s infinite;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}